CANVAS_DOMAIN=https://csun.instructure.com
CANVAS_CLIENT_ID=10000000000123
CANVAS_CLIENT_SECRET=this_project_is_better_than_yours
CANVAS_REDIRECT_URI=http://localhost:3001/auth/callback
SESSION_SECRET=top_secret_session_stuff